<!DOCTYPE html>

<title>Answers</title>

{% block body %}
    <h1>Answers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ answer.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ answer.question }}</td>
            </tr>
            <tr>
                <th>Answer</th>
                <td>{{ answer.answer }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ answer.priority }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('answers_index') }}">back to list</a>

    <a href="{{ path('answers_edit', {'id': answer.id}) }}">edit</a>

    {{ include('answers/_delete_form.html.twig') }}
{% endblock %}
