<header class="c-header" role="banner">
  <section class="c-header__container container">
    <div class="clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link {% if current_menu_item is defined and current_menu_item == 'home' %}active{% endif %}" href="{{ path('home') }}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if current_menu_item is defined and current_menu_item == 'jouer' %}active{% endif %}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Concours</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ path('contest') }}">en Html</a>
              <a class="dropdown-item" href="{{ path('contest.vue') }}">en Vue.js</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if current_menu_item is defined and current_menu_item == 'contact' %}active{% endif %}" href="{{ path('contact') }}">Contact</a>
          </li>
          <li class="nav-item">
            {% if app.user %}
              <a class="nav-link {% if current_menu_item is defined and current_menu_item == 'admin' %}active{% endif %}" href="{{ path('logout') }}">Admin/Logout</a>
            {% else %}
            <a class="nav-link {% if current_menu_item is defined and current_menu_item == 'admin' %}active{% endif %}" href="{{ path('admin.index') }}">Admin/Login</a>
            {% endif %}
          </li>
        </ul>
      </nav>
      <h1>Sfff4</h1>
    </div>
  </section>
</header>
