{% extends '/layouts/base.html.twig' %}

{% block title %} {{ controller_name }} - {{ parent() }} {% endblock %}

{% block main %}
  <main class="c-main" role="main">

    <section class="c-main__container container">

      <div class="c-main__row row">
        <div class="c-main__col col">
          <h1>{{ controller_name }}</h1>

          {% for message in app.flashes('success') %}
            <div class="alert alert-success">
              {{ message }}
            </div>
          {% endfor %}

          {% if not form.vars.valid %}
            <div class="alert alert-danger">
              Erreur je ne sais pas quoi
            </div>
          {% endif %}

          <div>
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ player.id) }}">
            <div class="form-group">
              <button class="btn btn-primary">Etape suivante</button>
            </div>
            {{ form_end(form) }}
          </div>
        </div>
      </div>

    </section>

  </main>
{% endblock %}
