{% extends '/layouts/base.html.twig' %}

{% block title %} {{ controller_name }} - {{ parent() }} {% endblock %}

{% block main %}
  <main class="c-main" role="main">

    <section class="c-main__container container">

      <div class="c-main__row row">
        <div class="c-main__col col">
          <h1>{{ controller_name }}</h1>

          <table class="table table-striped">
            <thead>
            <tr>
              <th></th>
              <th>Question</th>
              <th>Réponse</th>
              <th>Priorité</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for answer in answers %}
              <tr>
                <td>{{ answer.id }}</td>
                <td>{{ answer.question }}</td>
                <td>{{ answer.answer }}</td>
                <td>{{ answer.priority }}</td>
                <td>
                  <a href="{{ path('admin.answers.edit', {id: answer.id}) }}" class="btn btn-secondary">Editer</a>
                  <a href="{{ path('admin.answers.show', {'id': answer.id}) }}" class="btn btn-secondary">Voir</a>
                  <form method="post" action="{{ path('admin.answers.delete', {'id': answer.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ answer.id) }}">
                    <button class="btn btn-danger">Supprimer</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <a href="{{ path('admin.answers.add') }}" class="btn btn-secondary">Ajouter</a>
        </div>
      </div>

    </section>

  </main>
{% endblock %}
